.password-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.password-input input {
  padding-right: 30px; /* Adjust padding to accommodate icon */
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 4px
}
