@import "sanitize.css";

:root {
  /* colors */
  --color-primary: rgba(21, 227, 255, 1);
  --color-secondary: #6c757d;
  --color-success: rgba(40, 167, 69, 1);
  --color-warning: rgba(255, 193, 7, 1);
  --color-danger: var(--color-danger-1000);
  --color-danger-100: rgba(234, 26, 151, 0.1);
  --color-danger-200: rgba(234, 26, 151, 0.2);
  --color-danger-300: rgba(234, 26, 151, 0.3);
  --color-danger-400: rgba(234, 26, 151, 0.4);
  --color-danger-500: rgba(234, 26, 151, 0.5);
  --color-danger-600: rgba(234, 26, 151, 0.6);
  --color-danger-700: rgba(234, 26, 151, 0.7);
  --color-danger-800: rgba(234, 26, 151, 0.8);
  --color-danger-900: rgba(234, 26, 151, 0.9);
  --color-danger-1000: rgba(234, 26, 151, 1);
  --color-danger-darker: rgba(230, 12, 143, 1);
  --color-selection: rgba(0, 244, 141, 1);
  --color-white: var(--color-white-1000);
  --color-black: var(--color-black-1000);
  --color-white-100: rgba(255, 255, 255, 0.1);
  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-300: rgba(255, 255, 255, 0.3);
  --color-white-400: rgba(255, 255, 255, 0.4);
  --color-white-500: rgba(255, 255, 255, 0.5);
  --color-white-600: rgba(255, 255, 255, 0.6);
  --color-white-700: rgba(255, 255, 255, 0.7);
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-white-900: rgba(255, 255, 255, 0.9);
  --color-white-1000: rgba(255, 255, 255, 1);
  --color-gray-100: rgba(237, 237, 237, 0.1);
  --color-gray-200: rgba(237, 237, 237, 0.2);
  --color-gray-300: rgba(237, 237, 237, 0.3);
  --color-gray-400: rgba(237, 237, 237, 0.4);
  --color-gray-500: rgba(237, 237, 237, 0.5);
  --color-gray-600: rgba(237, 237, 237, 0.6);
  --color-gray-700: rgba(237, 237, 237, 0.7);
  --color-gray-800: rgba(237, 237, 237, 0.8);
  --color-gray-900: rgba(237, 237, 237, 0.9);
  --color-gray-1000: rgba(237, 237, 237, 1);
  --color-black-100: rgba(0, 0, 0, 0.1);
  --color-black-200: rgba(0, 0, 0, 0.2);
  --color-black-300: rgba(0, 0, 0, 0.3);
  --color-black-400: rgba(0, 0, 0, 0.4);
  --color-black-500: rgba(0, 0, 0, 0.5);
  --color-black-600: rgba(0, 0, 0, 0.6);
  --color-black-700: rgba(0, 0, 0, 0.7);
  --color-black-800: rgba(0, 0, 0, 0.8);
  --color-black-900: rgba(0, 0, 0, 0.9);
  --color-black-1000: rgba(0, 0, 0, 1);

  /* button colors */
  --color-button-primary-bg: var(--color-black);
  --color-button-secondary-bg: var(--color-gray-600);
  --color-button-default-bg: transparent;
  --color-button-warning-bg: var(--color-danger);

  /* button text colors */
  --color-button-primary-fg: var(--color-white);
  --color-button-secondary-fg: var(--color-black);
  --color-button-default-fg: var(--color-black-700);
  --color-button-warning-fg: var(--color-white);

  /* button hover colors */
  --color-button-primary-bg-hover: var(--color-black-900);
  --color-button-secondary-bg-hover: var(--color-gray-1000);
  --color-button-default-bg-hover: transparent;
  --color-button-warning-bg-hover: var(--color-danger-darker);

  /* button disabled colors */
  --color-button-primary-bg-disabled: var(--color-black-500);
  --color-button-secondary-bg-disabled: var(--color-gray-500);
  --color-button-default-bg-disabled: transparent;
  --color-button-warning-bg-disabled: var(--color-danger-100);

  /* text colors */
  --text-white: var(--color-white);
  --text-black: var(--color-black);
  --text-gray: var(--color-black-800);

  /* border radius */
  --border-radius: 8px;
}

/* whole app background color */
body {
  background-color: var(--color-white);
  caret-color: var(--color-primary);
  font: normal normal 400 14px/1.5 'Poppins', sans-serif;
}

::selection {
  background-color: var(--color-selection);
}

::placeholder {
  color: var(--color-black-600);
}